

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1409">Text with this font applied</p> */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Krub:300,400,500,700');


body {
 font-family: 'Ubuntu', sans-serif;
   /*font-family: 'Krub', sans-serif;*/
  
}


:root {
  --theme-color: #752ceb;
 
}

.f-m {
  font-family: 'Montserrat', sans-serif !important;
}

  .btn.btn-theme {

  transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
  display: inline-block;
  padding: 12px 40px;
 
  border: 1px solid transparent;
  border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     background: var(--theme-color);
  color: #fff;
  font-size: 17px;
}
.btn.round {
  border-radius: 40px;
}
.btn.btn-theme:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16)!important;
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      color: #fff;
}

.btn-theme.outline {
  border-color: var(--theme-color);
  color: var(--theme-color);
  background: none;

}
.btn-theme.outline:hover {
  background: var(--theme-color);
  color: #fff;
}

.btn.btn-round {
    border-radius: 30px;
}

.mb100 {
  margin-bottom: 100px;
}
.navbar-transprent {
  background-color: transparent;
  border: none;
}
.front-image {
  width: 100%;
}
.width100{
  width: 100% !important;
}
.spacethis {
  padding-top: 80px;
  padding-bottom: 80px;
}

.spacehalf {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  font-weight: 700;
  font-size: 60px;
  color: #282828;
  line-height: 1.5;
  margin-bottom: 50px;

}
.navbar-default .navbar-nav>li>a {
    color: #282828;
    font-weight: 700;
    font-size: 16px;
}
.hero-banner.v2 .navbar-default .navbar-nav>li>a  {
  color: #fff;
}
.hero-banner.v1 .front-image{
  display: block;
}
.hero-banner.v1 .front-2{
  display: none;
}
.hero-banner.v2 .front-image{
  display: none;

}

.hero-banner.v2{
  background: linear-gradient(45deg, #003c9c,  #540b80);
height: 100vh;
}

.hero-banner.v2 .main-heading {
  color: #fff;
}

.front-2 {
  width: 115%;
      margin-top: -100px;
}

.hero-banner.v2 .btn-theme.outline {
  background: #fff;
  border-color: #fff;
}
.brand-support-icon {
  padding: 0;
}
.brand-support-icon li img {
  width: 100%;
}

.brand-support-icon li {
  list-style: none;
      --size: 110px;
      width: var(--size);
      height: var(--size);
    box-shadow: -1px 3px 10px #00000024;
        padding: 15px;
        border-radius: 6px;
        margin: 40px 50px;

}

.heading {
 margin-bottom: 30px;
 font-size: 50px;
}

.brands-box {
  box-shadow: 3px 4px 50px 20px #0000001c;
  width: 100%;
}

.brands-box .nav-pills>li>a{
 font-size: 26px;
     margin-right: 50px;
     font-weight: 800;
     letter-spacing: 2px;
  color: #333;

}
.brands-box .btn {
  margin-top: 30px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #333;
  background: none;
  border-bottom: 2px solid var(--theme-color);
  border-radius: 0;
}

.brands-box p {
 font-size: 18px;
 line-height: 2;
 padding-right: 30px;
 color: #717171;
 font-weight: 400;
 word-spacing: 4px;
}
.brands-box .nav-pills {
  padding-bottom: 30px;
}
.brands-box.box-login {
  min-height: 500px;
    background: #fff;
}
.brands-box form {
  padding-right: 60px;
}

.login-body {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-side-design {
  background: linear-gradient(45deg, #003c9c, #540b80);
  min-height: 500px;
  display: flex;
}

.form-control {
  height: 45px;
      box-shadow: none;
      background: #eaeaea;
      border: none;
}
.form-group {
    margin-bottom: 30px;
}

.brand-box-side-design {
  background: linear-gradient(45deg, #003c9c, #540b80);
      height: 575px;
      display: flex;
}

.test {
  background: url(../img/layer.png) no-repeat right top;
  background-size: 1000px;

}

footer {
  background: #0c1014;
  color: #8792a1;
  padding: 25px 0;
}
footer p {
  margin: 0;
text-align: center;
}