@media (max-width: 767px) {


  .brands-box form {
    padding-right: 0 !important;
  }

  .brands-box {
     
      margin: 0 auto;
  }
  .login-side-design img {
    width: 300px !important;
  }
  .login-body {
    height: 100% !important;
  }
}/*media*/

@media (min-width: 768px) {
  .login-side-design img {
    width: 400px !important;
  }
 
  .login-side-design {
   width: 100%;
   flex-basis: 100%;
  }
}